= render 'shared/side_bar'

.contents
  .right-content
    .header
      .left-header
        .left-header__name
          グループ名
        .left-header__members
          Member:
          .member
            メンバー名
      .right-header
        = link_to "Edit", edit_group_path(@group)

    .messages
      .message
        .top-message
          .top-message__user-name
            メンバー
          .top-message__time
            1111/11/11
        .bottom-message
          .bottom-message__body
            メッセージ
      .message
        .top-message
          .top-message__user-name
            メンバー
          .top-message__time
            1111/11/11
        .bottom-message
          .bottom-message__body
            メッセージ
    .form
      %form
        .form__chat
          %input.form__chat__message
            %label.form__chat__image
              = fa_icon 'picture-o'
              %input{type: 'file', style: 'display:none'}
        %input.form__submit{type: 'submit', value: 'send'}
