.contents
  .left-content
    .header
      .header__name
      .header__icon
        .headerz__icon__new-group
        .header__icon__edit-user
    .groups
      .group
        .group__name
        .group__message
  .right-content
    .header
      .left-header
        .left-header__name
        .left-header__members
      .right-header
    .message
    .message
    .message
    .form
      .form__message
      .form__submit

